html, body, #app-content, #inner-app-content, #outer-container, #map {
    margin: 0px;
    padding: 2px;
    height: 100%;
}

#app-navigation-items {
    height: 100%;
}

#inner-app-content {
    padding: 0;
    height: 100%;
}
